@import 'swiper/css/navigation';

.animaInfinite {
  animation: translatestf 8s linear infinite;
  overflow: hidden;
  position: relative;
}

/* Cores para swiperjs */


.swiper-pagination-bullet-active {
  background-color: #FF4763 !important;
}

.swiper-pagination-bullet {
  background-color: #FF4763 !important;
}

.swiper-pagination {
  margin-top: 100px;
  /* Adapte o valor conforme necessário */
}

.my-custom-next-button {
  margin-right: 10px;
  /* Adicione o espaçamento desejado à direita do botão de próxima navegação */
}

.my-custom-prev-button {
  position: absolute;
  left: -10px;
  ;
}