@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  ::-webkit-scrollbar {
    display: none;
  }

  html {
    scroll-behavior: smooth !important;
  }

  body {
    @apply bg-gray-100;
  }

}

@layer utilities {
  .bg-transparent {
    background-color: transparent;
  }

  .bg-gradient-radial {
    background: radial-gradient(circle,
        rgb(255 253 238) 10%,
        rgb(255, 255, 255) 35%,
        rgb(255, 255, 255) 100%);
  }

  .shadow-card {
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }

  @property --num-specilty {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  @property --num-transactions {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  @property --num-years {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  @property --num-users {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  @keyframes counter {
    from {
      --num-specilty: 0;
      --num-transactions: 0;
      --num-years: 0;
      --num-users: 0;
    }

    to {
      --num-specilty: 8;
      --num-years: 20;
      --num-transactions: 50;
      --num-users: 4;
    }
  }
}